In [ ]:
#Creating Dataframe list
import pandas as pd
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)


import pandas as pd
Lst = [ ['Ram',10],[ 'Raj',21], ['Raman',15], ['Pk',18], ['Meet',19]]

df = pd.DataFrame(Lst, columns =['Name', 'Age'])
print(df)

   0
0  1
1  2
2  3
3  4
4  5
    Name  Age
0    Ram   10
1    Raj   21
2  Raman   15
3     Pk   18
4   Meet   19

In [ ]:
#Creating dataframes from ndarrays/lists
import pandas as pd
data = { 'Name': ['Geet','Jeet','Preet','Jagjeet'], 'Salary' : [20000,30000,40000,50000]} 

df = pd.DataFrame(data)
print(df)

#Location of specific rows
print(df.loc[0])
print(df.loc[[0,1]])

      Name  Salary
0     Geet   20000
1     Jeet   30000
2    Preet   40000
3  Jagjeet   50000
Name       Geet
Salary    20000
Name: 0, dtype: object
   Name  Salary
0  Geet   20000
1  Jeet   30000

In [ ]:
#Giving Name of Index
import pandas as pd
data = { 'Name': [ "Rutul", "Raj", "Ram"] ,'Salary': [3000000,40000,340000]}

df= pd.DataFrame(data, index = [1,2,3])
print(df)
print(df.loc[[1,2]])

    Name   Salary
1  Rutul  3000000
2    Raj    40000
3    Ram   340000
    Name   Salary
1  Rutul  3000000
2    Raj    40000

In [ ]:
#Select particular Columns
import pandas as pd
data = { 'Name': ["Faiz","Ramu","Ganga","Manoj"]
         ,'Age': [19,20,21,20]
          ,'Address': ['KAnpur','RAjkot','Delhi','Mumbai']
          ,'Qualification' : ['Msc','Bsc','Btech','Bcom'] }

df = pd.DataFrame(data, index = [1,2,3,4])
print(df)
print(df[['Name' , 'Address']])

    Name  Age Address Qualification
1   Faiz   19  KAnpur           Msc
2   Ramu   20  RAjkot           Bsc
3  Ganga   21   Delhi         Btech
4  Manoj   20  Mumbai          Bcom
    Name Address
1   Faiz  KAnpur
2   Ramu  RAjkot
3  Ganga   Delhi
4  Manoj  Mumbai

In [ ]:
#Create Dataframe from dictionary
import pandas as pd
data = [ { 'a': 1, 'b' : 2},{ 'a': 5, 'b':6 ,'c': 7}]
df = pd.DataFrame(data)
print(df)

#Create Dataframe by indexing rows in dictionary
import pandas as pd
data = [ { 'a': 1, 'b': 2} , {'a':8 , 'b':9 , 'c':10}]
df = pd.DataFrame(data, index= ['First', 'Second'])
print(df)

   a  b    c
0  1  2  NaN
1  5  6  7.0
        a  b     c
First   1  2   NaN
Second  8  9  10.0

In [ ]:
#Create a Dataframe from Dictionaries of series
import pandas as pd
data = {   'First': pd.Series([1,2,3], index=['a','b','c']),
            'Second': pd.Series([1,2,3,4], index=['a','b','c','d'])}
df = pd.DataFrame(data)
print(df)

#Particular Column Selection 
print(df ['Second'])

#Adding a Column 
print("******Adding NEW Column******")
df['Third'] =pd.Series([10,20,30,40], index=['a','b','c','d'])
print(df)

#Deleting a Column Using del and pop
print("*****Deleting particular Column*****")
del df['Third']
print(df)
print("********* Using POP function******")
df.pop('Second')
print(df)

   First  Second
a    1.0       1
b    2.0       2
c    3.0       3
d    NaN       4
a    1
b    2
c    3
d    4
Name: Second, dtype: int64
******Adding NEW Column******
   First  Second  Third
a    1.0       1     10
b    2.0       2     20
c    3.0       3     30
d    NaN       4     40
*****Deleting particular Column*****
   First  Second
a    1.0       1
b    2.0       2
c    3.0       3
d    NaN       4
********* Using POP function******
   First
a    1.0
b    2.0
c    3.0
d    NaN

In [ ]:
#Selecting , Adding and Deleting Rows
import pandas as pd
data = { 'First': pd.Series([1,2,3], index=['a','b','c']),'Second': pd.Series([1,2,3,4], index=['a','b','c','d'])}
df =pd.DataFrame(data)
print(df)
print("********Selecting By USing Loc Function*******")
print(df.loc['b'])
print(df.loc['d'])
print("**********Selecting By Passing Loction of Integer, As it Returns Next Rows to it********")
print(df.iloc[2])
print(df.iloc[3])

#Selecting Multiple Rows
print("******Selecting Multiple Rows Using (:) operator ,As it returns next two rows ********")
print(df[2:4])

#Addition of New Rows
print("*******Adding New Rows Using Append function*****")
df1 = pd.DataFrame([[1,2],[3,4]], columns=['a','b'])
df2 = pd.DataFrame([[5,6],[7,8]], columns=['a','b'])
df1 = df1.append(df2)
print(df1)

#Deletion Of Rows
print("********Deleting Rows Using drop Function, As it delete rows with particular label*********")
df1 = df1.drop(0)
print(df1)

   First  Second
a    1.0       1
b    2.0       2
c    3.0       3
d    NaN       4
********Selecting By USing Loc Function*******
First     2.0
Second    2.0
Name: b, dtype: float64
First     NaN
Second    4.0
Name: d, dtype: float64
**********Selecting By Passing Loction of Integer, As it Returns Next Rows to it********
First     3.0
Second    3.0
Name: c, dtype: float64
First     NaN
Second    4.0
Name: d, dtype: float64
******Selecting Multiple Rows Using (:) operator ,As it returns next two rows ********
   First  Second
c    3.0       3
d    NaN       4
*******Adding New Rows Using Append function*****
   a  b
0  1  2
1  3  4
0  5  6
1  7  8
********Deleting Rows Using drop Function, As it delete rows with particular label*********
   a  b
1  3  4
1  7  8